nbproject
.idea
/cache.properties
/Build/Archives/
/Build/Reports/
/Build/Temporary/
/Data/
/Source-Magento/
/Target/
/Temporary/
.modman
Packages/autoload.php
Packages/composer/

www
www/app/etc/local.xml
www/media/
www/var/
www/downloader

structure.xml
